*
    box-sizing: border-box
body
    background-color: $primary-color
    
.title
    font-family: $title-font
    font-size: $title-size    
    font-weight: 800
    padding: 1rem
    align-self: center

.subtitle
    font-family: $title-font
    font-size: $subtitle-size
    font-weight: 800
    padding: 1rem